.cover {
    background-image: url("../Images/coding.jpg");
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 98.79vw;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 3.5rem;
}

.myname {
    text-align: center;
    color: #428af5;
    font-family: "Cascadia Code";
    margin-top: 9rem;
    font-weight: bolder;
}

.carissa {
    font-family: "Rowdies";
    text-align: center;
    color: #ffffff;
}

.hr {
    border: none;
    height: 2px;
    background-color: #e5e4e2;
    opacity: 1;
    width: 40%;
    margin: 20px auto;
}

.positionsection {
    margin-top: 29rem;
    width: 98.79vw;
    margin-left: -4.7rem;
    background-color: rgb(247, 243, 234);
    font-family: "Cascadia Code";
    
}

.aboutme {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.positionhero {
    margin-top: 2rem;
    font-family: "Cascadia Code";
    width: 95vw;
    left: 0;
    margin-left: -2.7rem;
}


.theheader {
    text-align: center;
}

.position {
    font-weight: bold;
}

.workplace {
    color: #428af5;
}

.ol {
    list-style-type: disc;
    padding-left: 1rem;
   
    
}

.positioncardtwo {
    margin-top: 2rem;
    width: 98.79vw;
    margin-left: -4.7rem;
    background-color: rgb(247, 243, 234);
    font-family: "Cascadia Code";
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25rem;
}

.input {
    width: 100%;
    height: 30px;
    margin-bottom: 1rem;
}

.textarea {
    width: 100%;
    height: 15rem;
    resize: none;
    margin-bottom: 1rem;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #428af5;
    background-color: transparent;
    border: 2px solid #428af5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 3rem;
    width: 8rem;
}

.button:hover {
    background-color: #6aa9ff;
    color: white;
}

.button:active {
    background-color: #a9cfff;
    color: white;
}

@media screen and (max-width: 768px) {
    .cover {
        height: 60vh;
        margin-top: 3.5rem;
        width: 115.1vh;
    }

    .myname {
        font-size: 1.8rem;
        margin-top: 7rem;
    }

    .carissa {
        font-size: 1.8rem;
    }

    .positionsection {
        margin-top: 20rem;
        width: 119vh;
        background-color: rgb(247, 243, 234)
    
    }
    .aboutme {
        padding-left: 3em;
        padding-right: 1.5rem;
    }
    
    .positioncardtwo {
        margin-top: 2rem;
        width: 119vh; 
      
    }  
}
